/* Tristan Potter, 2013
** This file is the style-sheet for my website at http://csclub.uwaterloo.ca/~twmpotte
** I used the free open source font Exo found at: http://www.google.com/fonts/specimen/Exo
**     used under the SIL Open Font License, version 1.1 which can be viewed here: 
**     http://scripts.sil.org/OFL
*/

/*      Project Stuff   */

.project {
    width: 400;
    height:130;
    border:2px black solid;
    padding:20;
    margin:0;
    display:block;
    float:left;
    color:#98bf21;    
}

.spacer{
    clear:both;   
}

a.project{
    width: auto;
    height:auto;
    padding:0;
    margin:0;
    color:#98bf21;
    background-color:#454444;
}
a.project:link,a.project:visited{
    
}

a.project:hover, a.project:active{
    border-color:#fff;
}